*{
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Montserrat', sans-serif;
  /* font-weight: 500; */
  color: #333;
}

a{
  text-decoration: none;
  color: #333;
}

nav{
  padding-top: 20px;
  text-align: center;
}

nav ul{
  list-style: none;
  padding-top: 20px;
}

nav ul li{
  display: inline-block;
  padding-right: 20px;
}

ul li a{
  text-transform: uppercase;
  font-size: 0.9em;
}

.navbar li a:hover{
  opacity: 0.7;
  transition: 0.3s;
}

.logo{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ---Footer--- */

footer{
  background-color: #333;
}

.footer{
  max-width: 1280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0;
  margin: 0 auto;
}

.footer a{
  color: #fff;
}

.footer-menu a:hover{
  opacity: 0.7;
  transition: 0.3s;
}

.footer ul li{
  display: inline-block;
  padding-left: 20px;
}

.footer .social li{
  padding-left: 10px;
}

.footer-logo{
  display: flex;
  align-items: center;
}

.footer-menu{
  font-size: 0.8em;
}

.copyright{
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 0.7em;
  text-align: center;
  padding-bottom: 10px;
  opacity: 0.5;
}

.fa{
  width: 25px;
}

.fa:hover {
    opacity: 0.7;
}

/* ---Main page--- */

.gallery{
  max-width: 1280px;
  margin: 80px auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(autofit,minmax(300px,1fr));
  grid-auto-rows: 300px;
  grid-auto-flow: dense;
}

.v-stretch{
  grid-column: span 3;
}

.h-stretch{
  grid-row: span 2;
}

.big-stretch{
  grid-column: span 2;
  grid-row: span 3;
}

.gallery div img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery div img:hover{
  opacity: 0.7;
  transition: opacity 0.5s;
}

/* ---Gear I use page--- */
.gears{
  max-width: 1020px;
  margin: 80px auto 0 auto;
  letter-spacing: 0.05em;
  line-height: 150%;
}

.gears h3{
  font-size: 1em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.h3-inside{
  margin-top: 10px;
}

.gears a{
  border-bottom: 1px solid #27272775;
}

.gears a:hover{
  opacity: 0.7;
  transition: 0.3s;
}

.gears ul{
  list-style-type:square;
}

.gears ul li{
  line-height: 200%;
}

.lense-block, .smartphone-block, .drone-block, .action-camera-block, .others-block{
  display: flex;
  align-items: center top;
  justify-content: space-between;
  margin: 80px auto;
}

.camera-1row{
  display: flex;
  align-items: center top;
  justify-content: space-between;
  margin-bottom: 20px;
}

.camera-text{
  text-indent: 50px;
}

.lenses-text, .drone-text, .others-text{
  margin-left: 30px;
}

.smartphone-text, .action-camera-text{
  margin-right: 30px;
}

/* ---Contact page--- */

.contact-container{
  max-width: 1020px;
  display: flex;
  align-items: center top;
  justify-content: space-between;
  margin: 80px auto;
}

.contact-text{
  width: 1020px;
  margin: 0 auto;
  line-height: 150%;
  margin-bottom: 60px;
}

/* ---About page--- */
.about{
  max-width: 760px;
  margin: 80px auto;
}

.about h2{
  font-size: 1.25em;
  font-weight: 500;
  text-align: center;
  margin: 10px auto;
}

.about-photo{
  text-align: center;
  margin-bottom: 20px;
}

.about-text{
  text-indent: 50px;
  line-height: 150%;
}
/* ---Form styling--- */

input[type=text],[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  /* border-radius: 4px; */
  box-sizing: border-box;
  margin-top: 8px;
  margin-bottom: 20px;
  resize: vertical;
}

input[type=submit] {
  background-color: #C70003;
  color: white;
  text-transform: uppercase;
  padding: 12px 25px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #990002;
}

.fname{
  width: 240px;
  display: inline-block;
}

.lname{
  width: 240px;
  display: inline-block;
  float: right;
}

.form-container {
	width:500px;
  padding: 0;

}

.fname{
  width: 240px;
  display: inline-block;
}

.lname{
  width: 240px;
  display: inline-block;
  float: right;
}



/* ---Media--- */

@media (max-width:500px) {
  .v-stretch{
    grid-column: span 1;
  }
  .h-stretch{
    grid-column: span 1;
  }
  .big-stretch{
    grid-column: span 1;
    grid-row: span 1;
  }
}
